*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

.env
!.env.example
.env.*
.phpunit.result.cache
.phpactor.json
auth.json

/.idea
/.vscode
/.fleet
/.zed
/.nova
/.phpunit.cache
/.vagrant

node_modules/
public/build
public/hot

public/storage
public_html/hot
public_html/storage
/storage/*.key
/storage/pail

/vendor/
Homestead.json
Homestead.yaml
bootstrap/compiled.php
app/storage/

.yarn/
yarn.lock
phpunit.xml
phpunit.xml.dist
